*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AgendaContato/nbproject/private/
/agenda_zd/nbproject/private/
/ClientEditor/nbproject/private/
/ClientEditor/build/
/xadrez/nbproject/private/
/xadrez/build/
/rainhasCavalo/nbproject/private/
/rainhasCavalo/build/
/rainhasCavalo/dist/
/JavaApplication20/nbproject/private/
/JavaApplication20/build/
/JavaApplication20/dist/
/aggenetico/nbproject/private/
/aggenetico/build/
/xadrez/dist/